@font-face {
    font-family: "FunnelDisplay";
    src: url("/static/fonts/Funnel_Display/FunnelDisplay-VariableFont_wght.ttf") format("truetype-variations");
    font-weight: 100 900; 
    font-style: normal; 
    font-display: swap;
}
@font-face {
    font-family: "FunnelSans";
    src: url("/static/fonts/Funnel_Sans/FunnelSans-Italic-VariableFont_wght.ttf") format("truetype-variations");
    font-weight: 100 900; 
    font-style: italic; 
    font-display: swap;
}
@font-face {
    font-family: "FunnelSans";
    src: url("/static/fonts/Funnel_Sans/FunnelSans-VariableFont_wght.ttf") format("truetype-variations");
    font-weight: 100 900; 
    font-style: normal; 
    font-display: swap;
}


body {
    font-family: FunnelSans;
}

h1 {
    font-size: large;
}

h2 {
    font-size: larger;
}