:root {
    --accent-color: rgb(225, 225, 225);
    --global-bg-color: white;
}

.table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    text-align: left;
    border: .1rem solid lightgray
}

.table td {
    padding: .3rem .6rem 0;
    border-bottom: .1rem solid lightgray;
    line-height: 1.5;
}
.table th {
  font-weight:600;
  padding:.3rem .6rem 0;
  border-bottom:.1rem solid black;
  line-height: 1.75;
}

.table-head {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    background-color: lightgray;
}